/build
.DS_Store
.vagrant
*.swp
node_modules/
XMP-Toolkit-SDK-CC201607/public/libraries/*
XMP-Toolkit-SDK-CC201607/XMPCore/build/xcode
XMP-Toolkit-SDK-CC201607/XMPFiles/build/xcode
XMP-Toolkit-SDK-CC201607/build/xcode
XMP-Toolkit-SDK-CC201607/XMPCore/build/gcc
XMP-Toolkit-SDK-CC201607/XMPFiles/build/gcc
XMP-Toolkit-SDK-CC201607/build/gcc
XMP-Toolkit-SDK-CC201607/XMPCore/build/vc14
XMP-Toolkit-SDK-CC201607/XMPFiles/build/vc14
XMP-Toolkit-SDK-CC201607/build/vc14
*console.log
